/* % CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    font-family: 'Lato';
}

/* % UTILITIES */
/* img-fluid {
    max-width: 100%;
    height: auto;
    } */



/* % GENERAL */
main {
    background: linear-gradient(to bottom,
            #009688 20%,
            #dcdbd3 20% 100%);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    height: 50px;
    background-color: #000;
}

/* % Main */

.wrapper>* {
    background-color: #fff;
}


/* % Layout */

.col-lft {
    width: 35%;
}

.col-rght {
    width: 65%;
}

/* Left Column */
.col-lft .desktop-alerts {
    height: 60px;
    background-color: #8edafc;
}

.col-lft .search-bar {
    height: 40px;
    background-color: grey;
}

.col-lft .contacts-list {
    height: calc(100% - 150px);
    background-color: #f2f2f2;
}

/* TODO Adding overflow on the section contacts */

/* Right Column */
.col-rght .chat {
    height: calc(100% - 100px);
}

.col-rght .input-message {
    height: 50px;
    background-color: #838383;
}

/* TODO Adding overflow on the section chat */