/* % CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    font-family: 'Lato';
}

/* % UTILITIES */
/* img-fluid {
    max-width: 100%;
    height: auto;
    } */



/* % GENERAL */
main {
    background: linear-gradient(to bottom,
            #009688 20%,
            #dcdbd3 20% 100%);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    height: 50px;
    background-color: #000;
}

/* % Main */

.wrapper>* {
    background-color: #fff;
}


/* % Layout */

.col-lft {
    width: 35%;
}

.col-rght {
    width: 65%;
}

/* Left Column */