/* % CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    font-family: 'Lato';
}

/* % UTILITIES */
img {
    width: auto;
    max-height: 100%;
}

.sticky {
    position: sticky;
    top: 0;
}

/* % Icons Style */
i {
    color: #b1b1b1;
}

/* % GENERAL */
main {
    background: linear-gradient(to bottom,
            #009688 20%,
            #dcdbd3 20% 100%);
}

ul {
    list-style: none;
}

a {
    color: grey;
}

header {
    height: 50px;
    background-color: #eaeaea;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}


/* % Main */

.wrapper>* {
    background-color: #fff;
}


/* % Layout */

.col-lft {
    width: 35%;
}

.col-rght {
    width: 65%;
}

/* Left Column */
.col-lft .desktop-alerts {
    height: 60px;
    background-color: #8edafc;
}

.col-lft .search-bar {
    height: 40px;
    background-color: #f9f9f9;
}

.col-lft .contacts-list {
    height: calc(100% - 150px);
    background-color: #fff;
}

/* TODO Adding overflow on the section contacts */

/* % Alert Bell Icon Style */
i.fa-bell-slash {
    background-color: white;
    color: #8edafc;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

i.fa-search {
    border-radius: 5px 0px 0px 5px;
    font-size: .75em;
    line-height: 24px;
}

.search-bar input {
    border-radius: 0px 5px 5px 0px;
}

.search-bar input::placeholder {
    font-size: 12px;
}

.contacts-list li {
    position: relative;
}

time {
    position: absolute;
    top: 3px;
    right: 3px;
}

/* Right Column */
.col-rght .chat {
    height: calc(100% - 100px);
    background-image: url('../img/mine.png');
}

.col-rght .input-message {
    height: 50px;
    background-color: #f3eeea;
}

/* TODO Adding overflow on the section chat */

/* % Avatar Circle Img */
.img-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}